<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joe.maintenancejournal">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.example.joe.maintenancejournal.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MaintenanceTheme">
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MaintenanceTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CreateItemActivity"
            android:label="@string/title_activity_create_item"
            android:theme="@style/MaintenanceTheme.NoActionBar" />
        <activity
            android:name=".view.CreateTaskActivity"
            android:label="@string/title_activity_create_task"
            android:theme="@style/MaintenanceTheme.NoActionBar" />
        <activity
            android:name=".view.PerformMaintenanceActivity"
            android:label="@string/title_activity_perform_maintenance"
            android:theme="@style/MaintenanceTheme.NoActionBar" />
        <activity
            android:name=".view.ScheduleActivity"
            android:label="@string/title_activity_schedule"
            android:theme="@style/MaintenanceTheme.NoActionBar" />
        <activity
            android:name=".view.OptionsActivity"
            android:label="@string/title_activity_options"
            android:theme="@style/MaintenanceTheme.NoActionBar"/>
        <activity android:name=".view.SyncSpinner" />

        <receiver android:name=".controller.DataUpdateReceiver">
            <intent-filter>
                <action android:name="com.example.joe.maintenancejournal.DATA_UPDATED"/>
             </intent-filter>
         </receiver>
            <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f43f0c5d430d623fb678f8f83e5e04a50033baf9" />
    </application>
</manifest>